.footer-title {
  border-bottom-width: 2px;
  margin-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-left: 70px;
}
section{
  padding: 20px;
}

.clear {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  zoom: 1;
}

.background-1{
  background: url('/Asset/background1.jpg') no-repeat center 100%;
  height: 671px;
  display:block; /*memastikan muncul*/
}

#transbox {
  margin: 30px;
  height: 671px;
  background-color: #000;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.footer-container {
  background-color: #14274e;
}

.footer-title {
  font-family: "Open Sans";
  text-align: center;
  src: url(OpenSans/static/OpenSans/OpenSans-Bold.ttf);
  color: #ffff;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans/static/OpenSans/OpenSans-Bold.ttf");
}

ul.navbar-atas {
  padding-right: 70px !important;
}

a.img-responsive {
  width: 100px;
  height: 100px;
}

.navbar-kotak-logo {
  width: 124px;
  height: 124px;
  padding: 12px;
  position: relative;
  left: 0;
  z-index: 99;
  background-color: #000033;
}

.segitiga-navbar {
  height: 0px;
  width: 0px;
  margin-left: -12px;
  margin-top: 12px;
  border-top: solid 40px #000033;
  border-left: solid 62px transparent;
  border-right: solid 62px transparent;
}

.search-bar {
  margin-left: 56.25%;
  width: 670px;
  height: 47px;
  border-radius: 50rem;
  background-color: white;
}

.title-content {
  margin-left: 57.5px;
  margin-right: 24.5px;
}

.garis-berita {
  content: "";
  display: block;
  position: absolute;
  width: 1040px;
  height: 4px;
  background-color: #7ac943;
  top: 668px;
  left: 150px;
}

.wrapper-mitra{
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}
@media only screen and (max-width: 771px) {

  .garis-berita {
    content: "";
    display: block;
    position: absolute;
    width: 400px;
    height: 4px;
    background-color: #7ac943;
    top: 440px;
    left: 150px;
  }
  
}
.kegiatan{
  background-color: #171010;
  /* padding: 200px 0; */
}
.garis-kegiatan {
  content: "";
  display: block;
  position: absolute;
  width: 1010px;
  height: 4px;
  background-color: #7ac943;
  top: 1088px;
  left: 180px;
}
.card-img-thumbnail{
  width: 255px;
  height: 255px;
}
.footer{
  background-color: #14274e;
}

/* .medsos{
  display: inline-block;
  color: #fff;
  margin-right: 15px;
} */

/* .container-kegiatan{
  left: 10px;
} */
/* footer h6::before{
  content: '';
  display: block;
  position: absolute;
  bottom: 100px;
  width: 1300px;
  height: 1px;
  background-color: #7AC943;
  left: calc(50%-60px);
} */

.kemitraan{
  display: flex;
  padding: 0 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  align-items: center;
  justify-content: center;
  background: white;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: bisque;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -60px;
  display: none;
}
.wrapper i:last-child{
  right: -60px;
}
.wrapper .slider{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slider.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.slider.dragging img{
  pointer-events: none;
}
.slider img{
  height: 100%;
  object-fit: cover;
  user-select: none;
  margin-left: 30px;
  width: calc(100% / 5);
}
.slider img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .slider img{
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 550px) {
  .slider img{
    width: calc(100%/ 1);
  }
}