.footer-title {
  border-bottom-width: 2px;
  margin-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-left: 70px;
}
section{
  padding: 30px;
}
.container{
  
}

.clear {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  zoom: 1;
}

.footer-container {
  background-color: #14274e;
}

.footer-title {
  font-family: "Open Sans";
  text-align: center;
  src: url(OpenSans/static/OpenSans/OpenSans-Bold.ttf);
  color: #ffff;
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans/static/OpenSans/OpenSans-Bold.ttf");
}

ul.navbar-atas {
  padding-right: 70px !important;
}

a.img-responsive {
  width: 100px;
  height: 100px;
}

.navbar-kotak-logo {
  width: 124px;
  height: 124px;
  padding: 12px;
  position: relative;
  left: 0;
  z-index: 99;
  background-color: #000033;
}

.segitiga-navbar {
  height: 0px;
  width: 0px;
  margin-left: -12px;
  margin-top: 12px;
  border-top: solid 40px #000033;
  border-left: solid 62px transparent;
  border-right: solid 62px transparent;
}

.search-bar {
  margin-left: 56.25%;
  width: 670px;
  height: 47px;
  border-radius: 50rem;
  background-color: white;
}

.title-content {
  margin-left: 57.5px;
  margin-right: 24.5px;
}

/* .garis-berita {
  content: "";
  display: block;
  position: absolute;
  width: 1040px;
  height: 4px;
  background-color: #7ac943;
  top: 668px;
  left: 150px;
} */

.wrapper-mitra{
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}
@media only screen and (max-width: 771px) {

  /* .garis-berita {
    content: "";
    display: block;
    position: absolute;
    width: 400px;
    height: 4px;
    background-color: #7ac943;
    top: 440px;
    left: 150px;
  } */
  
}
.kegiatan{
  background-color: #E3E3E3E3;
  /* padding: 200px 0; */
}
.garis-kegiatan {
  content: "";
  display: block;
  position: absolute;
  width: 1010px;
  height: 4px;
  background-color: #7ac943;
  top: 1088px;
  left: 180px;
}
.card-img-thumbnail{
  width: 255px;
  height: 255px;
}
.footer{
  background-color: #14274e;
  width: 100%;
}

/* .medsos{
  display: inline-block;
  color: #fff;
  margin-right: 15px;
} */

/* .container-kegiatan{
  left: 10px;
} */
/* .akreditasi ::before{
  content: '';
  display: block;
  position: absolute;
  bottom: 100px;
  width: 1300px;
  height: 1px;
  background-color: #7AC943;
  left: calc(50%-60px);
} */
/* Google Fonts - Poppins */
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 60px 0;
}
.slide-content{
  margin: 0 60px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px 25px 0 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 25px;
  
}
.card-content{
  z-index: 1;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
  border: none;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
  border: none;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
  
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #06143b;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #081539;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
span .overlay{
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 5 10px;
  }
  .swiper-navBtn{
    display: none;
  }
 
}

.medsos-icon{
  margin-top: 10px;
  margin-right: 13px;
  text-decoration-line: none;
  letter-spacing: 0px;
  width: 30px;
  padding-left: 13px;

}
/* 
section .akreditasi::before{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: rgb(167, 165, 165);
  left: calc(50% - 60px);
  z-index: 1;
}
section .akreditasi::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 4px;
  background-color: rgb(62, 173, 103);
  left: calc(50% - 20px);
  z-index: 1;
} */